<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista Ingredienti</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <h1>Lista degli ingredienti</h1>
    <h2>
        <a th:href="@{/ingredient/create}">Crea Ingrediente</a>
    </h2>

    <table th:if="${ingredients.size() > 0}">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Numero di pizze</th>
                <th>Opzioni</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ingredient : ${ingredients}" th:object="${ingredient}">
                <td>[[*{name}]]</td>
                <td>[[*{description}]]</td>
                <td>[[*{pizze.size()}]]</td>
                <td>
                    <a th:href="@{/ingredient/{id}(id=*{id})}">Dettagli</a>
                    <a th:href="@{/ingredient/{id}/edit(id=*{id})}">Modifica</a>
                    <form action="#" th:action="@{/ingredient/delete/{id}(id=*{id})}" method="post">
                        <button type="submit"> Elimina Ingrediente</button>
                    </form>

                </td>
            </tr>
        </tbody>
    </table>

    <div th:unless="${ingredients.size() > 0}">
        <p>No Ingredients available</p>
    </div>
</body>

</html>